<h1>Editing Question</h1>

<%= render 'form', question: @question %>

<br>
<%= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Questions', questions_path %>
